// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/all.css';


label{
    margin: 5px;
    font-style: inherit;
    font-size: 12pt;
    font-weight: bold;
}
.fieldleft{
	color:red;
	font-weight: bold;
}
.lblactivo {
  color: green;
  font-weight: bold;
}

.lblinactivo {
  color: red;
  font-weight: bold;
}
